*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
.navbar{
    display: flex;
    background-color: antiquewhite;
    justify-content: space-around;
    padding: auto;
}
.heading{
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: green;
}
nav a{
    text-decoration:none;
}
 nav button{
    background-color: green;
    border-radius: 12px;
    border: none;
    padding: 6px;
}

