.navbar{
    display: flex;
    background-color: antiquewhite;
    justify-content: space-around;
    padding: auto;
}
.heading{
    font-size: 30px;
    font-family:cursive;
    color: green;
}
.linemover{
    text-decoration:none;
}
button{
    background-color: green;
    border-radius: 12px;
    border: none;
}

