.navigation{
    display: flex;
    background-color: aquamarine;
    justify-content: space-around;
    align-items: center;

}
.heading{
    cursor: pointer;
}
nav h2:hover{
    color:firebrick;
    font-size: 24px;
}
nav a{
    text-align: center;
    text-decoration: none;
    padding-left: 16px;
}

nav a:hover{
    font-size: 17px;
    color: brown;
}
nav button{
    background-color: rgb(64, 30, 255);
    border-radius: 12px;
    border: none;
    padding: 6px;
    cursor: pointer;
}

nav button:hover{
    background-color:lawngreen;
    color: honeydew;
}

.formbox{
background-color: blueviolet;
transform: translate(-50%,-50%);
position: absolute;
top: 50%;
left: 50%;
padding: 50px 60px 70px;
text-align: center;
}

form button{
    background-color:plum;
    color:black;
    border-radius: 10px;
    border: none;
    padding: 6px;
    max-height: fit-content;
}